<div mat-dialog-content fusePerfectScrollbar>
    <button
    class="exit-btn"     
    (click)="matDialogRef.close()" 
    matTooltip="Cerrar"                
    mat-icon-button
    color="warn" 
    type="button">
    <mat-icon>close</mat-icon>                
  </button>
  <h1 class="title">{{this.titulo}}</h1>
  
  <form [formGroup]="formulario" autocomplete="off">
      <div style="text-align: left; width: 100%">
  
        <mat-divider></mat-divider>

        <mat-form-field>
            <mat-label><strong>IdCliente</strong></mat-label>
            <input matInput  title="Ingresa el Id del cliente" style="width: 70%" formControlName='IdCliente'>
          </mat-form-field>

        <mat-form-field>
          <mat-label><strong>Nombre</strong></mat-label>
          <input matInput  title="Ingresa el nombre del cliente" style="width: 70%" formControlName='Nombre'>
        </mat-form-field>

        <mat-form-field>
          <mat-label><strong>Fecha</strong></mat-label>
          <input matInput type="date" title="Ingresa la fecha en la que quiere enviar el mensaje" style="width: 70%" formControlName='Fecha'>
        </mat-form-field>
  
        <mat-form-field>
          <mat-label><strong>Registros</strong></mat-label>
          <input matInput title="Ingresa la cantidad de registros" style="width: 70%" formControlName='Registros'>
        </mat-form-field>

        <mat-form-field>
          <mat-label><strong>Estado</strong></mat-label>
          <input matInput  title="Ingresa el estado del envío" style="width: 70%" formControlName='Estado'>
        </mat-form-field>

        <div>
         <button class="cancelarBtn" mat-flat-button (click)="matDialogRef.close()" color="warn">
           <mat-icon>close</mat-icon>
         </button>
         <button class="guardarBtn" mat-flat-button (click)="grabar()"
                            color="accent"
                            [disabled]="formulario.invalid">
            <mat-icon>save</mat-icon>
          </button>
        </div>
                 
      </div>
  </form>
  